 .logoutPanel
 {
     left: -120px !important;
 }
.logoutPanel>.dropdown-item:hover
{
 background-color:whitesmoke !important;
 color:rgb(104, 100, 100) !important;
}
input.form-control:disabled, input.form-control[readonly],input[readonly]
{
     background-color: #17a2b8 !important;
     color: rgba(245, 245, 245, 0.931) !important;
}
.logo{
    width: 40px;
}
button,a{
    outline: none !important;
}

.form-control{
color:rgba(59, 58, 58, 0.788) !important;

}
.password-check
{
    position: absolute;
    margin-top: -30px;
    right: 30px;
}
@media screen and (min-width: 992px) {
.password-check
{
    right: 60px !important;
}
}
button.btn-p{
    width: 80px;

}
p{
    text-align: justify
}

textarea:focus,input:focus,input.form-control:focus{
     box-shadow:none  !important;
     color:#17a2b8;
}
textarea{
     resize: none !important
}

.tmuted{
    color: rgb(207, 205, 205);
}
.bmuted{
    background: rgb(207, 205, 205);

}

.overlay{
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.3);
}
 .bgload{
    background-image: url('~assets/images/bigImg.jpg');
    background-size: cover;
    height: 100vh;
 }
 
::-webkit-input-placeholder
 {
     color:rgb(158, 158, 158) !important;
 }
li{
list-style: none !important;
}
 .link{
 cursor: pointer;
 }
.rounded-l{
    border-radius: 8px !important;
}
.nav-link:hover,.dropdown-item:hover{
color:#17a2b8 !important;
font-weight: 500 !important;
}
.f{
   font-family: sans-serif !important;
    font-weight: normal !important  ;

}
.dropdown-item{
color:#5c6668 !important;

}
 ::-webkit-scrollbar{
    display: none;
 }

 .loader-page,.swal2-backdrop-show{
   position: absolute;
   width: 100% !important;
   height: 100vh !important;
   background-color: rgba(0,0,0,0.6) !important;
   z-index: 3000 !important;
   text-align: center ;
   padding-top: 20%;
    left: 0 !important;
    top: 0 !important;

 }

 .swal2-modal{
     padding: 0 !important;
     width: 300px !important;
    height: 150px !important;
 }
 .swal2-content{
     font-size: 15px !important;
     font-weight: bold !important;
 }
 .swal2-icon{
     margin: 5px !important;
 }
 .loader-page>.spinner-border{
    border: ridge #ebeeee 6px;
    width: 100px;
    height:100px;
    animation: 1.50s linear infinite spinner-border !important;
    border-bottom: none !important;
 }
 .swal2-show {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.300)!important;
    border-top:1px solid silver;
    top: -60px;
 }
 @media all and (display-mode: standalone) {
    body {
      background-color: #17a2b8 ;
    }
  }

  .classList,.dropdown-item:active,.dropdown-item:focus
 {
    background:#e0e9eb !important;
    color: #17a2b8 !important;
    border-left:10px solid #17a2b8 !important;
    font-weight: bold;

 }

.swal2-icon.swal2-error [class^=swal2-x-mark-line]{
    background-color: #cc3712b7 !important;
}
.swal2-icon.swal2-error{
    border-color: #db391025 !important;
}
.swal2-icon.swal2-success [class^=swal2-success-line] {
    background-color: #17a3b8ab !important;
}
.swal2-icon.swal2-success,.swal2-icon.swal2-success .swal2-success-ring {
    border-color: #17a3b81e !important;
}

.modal.show .modal-dialog {
    top: 100px;
    transition: transform .7s ease-out;
}

.mclassList
{
    background: var(--info) !important;
    color: var(--light) !important;
}
.mclasslistHover
{
    background: #17a3b81e;
    color: #d3e6e9;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: whitesmoke  !important;
    color: var(--info) !important;
    font-weight: bold !important;
    border-radius: 4px !important;
    border-top: 4px solid var(--info);
}

.nav-item>a {
    color: var(--info) !important;
}
.serviceLogo
{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    cursor: pointer;
}
.serviceUl>li{
    display: inline;

}

:root {
    --bg: #fff !important;
    --color: #333333 !important;
  }

  html.dark-mode {
    --bg: #232b32 !important;
    --color: #fff !important;
  }

  body{
    background-color: var(--bg) !important;
    color: var(--color) !important;
  }
.bgBackground{
    background-image: url('~assets/images/bigImg.jpg');
    background-size:cover;
    height: 80vh;
    background-attachment: fixed;
}
/* #contactus{
    background-image: url('~assets/images/bigImg.jpg');
    background-size:cover; 
    background-attachment: fixed;
} */
.bgOverlay{
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.8);
    padding-top: 17% !important;
}
.bgtext{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
}
.bgsmalltext{
    color: rgb(192, 186, 186);
}

@media screen and (max-width: 425px) {
    .bgBackground{
        background-image: url('~assets/images/bigImg4.jpg');
    }
    .bgOverlay{
        background-color: rgba(0,0,0,0.7);
    }
    }
    /* // Zoom effect */
.zoom {
    transition: transform .2s;
  }

  .zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    z-index: 2 !important;
  }
.testimonailsImg{
    width:60px;
    height:60px;
}
