.logo{
    width: 40px;
}
button,a{
    outline: none !important;
}
.form-control{
color:rgba(59, 58, 58, 0.788) !important;
    
}
.password-check
{
    position: absolute;
    margin-top: -30px;
    right: 30px;
} 
@media screen and (min-width: 992px) {
.password-check
{ 
    right: 60px !important;
}
}
button.btn-p{
    width: 80px;

}
p{
    text-align: justify 
}

input.form-control:focus{
     box-shadow:none  !important;
     color:#17a2b8 !important;

     
}
 
.overlay{
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
}
 .bgload{
    background-image: url('~assets/images/share1.jpg');
    background-size: cover;
    height: 100vh;
 }
::-webkit-input-placeholder
 {
     color:rgb(158, 158, 158) !important; 
 }
li{
list-style: none !important; 
}
 .link{
 cursor: pointer;
 }
.rounded-l{
    border-radius: 8px !important;
} 
.nav-link:hover,.dropdown-item:hover{
color:#17a2b8 !important;
font-weight: 500 !important;
}
.f{
   font-family: sans-serif !important;
    font-weight: normal !important  ;

}
.dropdown-item{
color:#5c6668 !important;

}
 ::-webkit-scrollbar{
    display: none;
 }